<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Places</h1>
            <p>Explore Cities, Landmarks, Parks</p>
            <p>
                <a class="btn btn-info btn-lg" href="/places/new">New Place</a>
            </p>
        </div>
    </header>
</div>

<div id='index-places' class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% places.forEach(function(place) { %>
            <div class="ind-blog col-sm-12">
                <div class="col-md-2 col-sm-2">
                    <div class="thumbnail">
                        <img src="<%= place.image%>">
                    </div>
                    <div class="caption">
                            <h4><%= place.name %></h4>
                    </div>
                </div>
                <div class=" desc col-md-5 col-sm-5">
                    <p> <%=place.description.substring(0,100) %>... %> </p>
                    <em>Visited by <%=place.author.username %></em>
                    <em> on 
                        <span class='place-date'> <%=place.date%></span>
                    </em> 
                    
                </div>
                <div class="col-md-5 col-sm-5" style="text-align: right">
                    <p>
                        <a href="/places/ <%= place._id %>" class="btn btn-info">Read More</a>
                    </p>
                </div>
                <div class='divider'></div>
            </div>
        <% }) %>
    </div>

</div>

<script type="text/javascript" src="clientJS/dateFormat.js"></script>

<% include ../partials/footer %>